# deps
node_modules/
.pnpm-store/

# build
.next/
dist/
out/
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
packages/db/prisma/generated/
# cliente Prisma gerado nunca deve ser commitado (vem do node_modules em runtime)
**/.prisma/client/
packages/apps/

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# test
coverage/
playwright-report/
test-results/
.vercel
